.places {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 5rem;
  padding-bottom: 5.75rem;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 4.5625rem;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    gap: 3.125rem;
    padding-bottom: 4rem;
  }
}