.cover__subtitle {
  margin: 2rem 0 0 0;
  max-width: 360px;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1rem;
    max-width: 81%;
    margin-top: 1rem;
  }
}