.footer__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  transition: .2s ease-in-out;
  margin-right: 1.125rem;
}

.footer__link:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 2rem;
    margin-right: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}