.place__paragraph {
  grid-column: 2;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.834rem;
  margin: 0 0 1.56rem 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.63rem;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    grid-column: 1;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .place__paragraph:first-of-type {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    grid-column: 1;
    margin: 0 auto 1.56rem auto;
    max-width: 90%;
  }
}